[submodule "src/_notes/books/building-microservices_designing-fine-grained-systems"]
	path = src/_notes/books/building-microservices_designing-fine-grained-systems
	url = https://github.com/computer-science-engineering/notes-book_bmdfgs
[submodule "src/_notes/books/designing-data-intensive-applications"]
	path = src/_notes/books/designing-data-intensive-applications
	url = https://github.com/computer-science-engineering/notes-book_ddia
[submodule "src/_notes/books/i-heart-logs_event-data-stream-processing-data-integration"]
	path = src/_notes/books/i-heart-logs_event-data-stream-processing-data-integration
	url = https://github.com/computer-science-engineering/notes-book_i-heart-logs_jay-kreps
[submodule "src/_notes/books/production-ready-microservices"]
	path = src/_notes/books/production-ready-microservices
	url = https://github.com/computer-science-engineering/notes-book_prm
[submodule "src/_notes/books/scaling-teams_strategies-for-building-successful-teams-and-organizations"]
	path = src/_notes/books/scaling-teams_strategies-for-building-successful-teams-and-organizations
	url = https://github.com/computer-science-engineering/notes-book_scaling-teams_grosse_loftesness
[submodule "src/_notes/books/distributed-systems-for-fun-and-profit"]
	path = src/_notes/books/distributed-systems-for-fun-and-profit
	url = https://github.com/computer-science-engineering/notes-book_dsffp
