markdown
BeautifulSoup4
coverage<7.6 # manual enforcement for coveralls dependency: coveralls 1.9.2 has requirement coverage<5.0,>=3.6
codacy-coverage
codecov
coveralls
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability