<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<mat-grid-list cols="7" rowHeight="3:1">
  <mat-grid-tile>Type</mat-grid-tile>
  <mat-grid-tile>and/or</mat-grid-tile>
  <mat-grid-tile>Origin</mat-grid-tile>
  <mat-grid-tile>and/or</mat-grid-tile>
  <mat-grid-tile>Companies</mat-grid-tile>
  <mat-grid-tile>and/or</mat-grid-tile>
  <mat-grid-tile>Categories</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="4:1">
  <mat-grid-tile>and/or</mat-grid-tile>
  <mat-grid-tile>Tags</mat-grid-tile>
  <mat-grid-tile>and/or</mat-grid-tile>
  <mat-grid-tile>Buckets</mat-grid-tile>
  <mat-grid-tile>and/or</mat-grid-tile>
  <mat-grid-tile>Languages</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="20:1">
  <mat-grid-tile>Show/Hide filter query</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="10:1">
  <mat-grid-tile>Filter query</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="6:1">
  <mat-grid-tile>Apply Filters</mat-grid-tile>
  <mat-grid-tile>Clear Filters</mat-grid-tile>
  <mat-grid-tile>Retrieved Count</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="10:1">
  <mat-grid-tile>Table</mat-grid-tile>
</mat-grid-list>

